
#main
{
    margin-left:170px;
}
#main em > strong
{
    color: crimson; 
}


#main img
{
  width: 100%; 
  z-index: 0; 
  float: right;
  width: 260px;
  height: 170px;
  margin-right: 20px;
}

div{
    height: 80px;
}


#header 
{
  top: 0%;
  width: 100%; 
  position: fixed; 
  z-index: 0; 
  left: 0;
  background-color: rgb(0, 0, 0); 
  border-bottom-style: solid;
  border-color: #ccc;
 
}

#left_image_bar img
{
  margin-left:10px;
  margin-top:10px;
  width: 130px;
  height: 60px;
  float: left;
}

#right_image_bar img
{
margin-right:10px;
width: 50px;
height: 50px;
float: right;
}


#leftSidebar{
    background-color: #ddd;
}

#footer
{ 
  height: 30px;
  width: 100%; 
  bottom: 0%;
  background-color: rgb(63, 63, 63); 
  position: fixed;
  border-top-style: solid;
  border-color: #ccc;
}

#footer h6
{
  margin-top: 6px;
  text-align:  center;
}

#sidebar {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 0; 
    left: 0;
    background-color: rgb(0, 0, 0); 
    overflow-x: hidden; 
    padding-top: 20px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    border-color: #ccc;
}

#sidebar a:hover {
  color: #ffffff;
}

#sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffc7c8;
  display: block;
}
