/*.accordion {
	width: 500px;
}*/
/*body {
	width: 80%;
	margin: auto;
}*/
.tab input,
.tab-content {
	display: none;
}

.tab {
	font: 1.2rem/1.2 Arial, sans-serif; /* Параметры шрифта */
	border: 2px solid #e9eaec; /* Параметры рамки */
	border-radius: 10px; /* Скругляем уголки */
	color: #000000; /* Цвет текста */
	margin-bottom: 10px; /* Расстояние между пунктами */
	/*width: 500px;*/
}

.tab-title {
	text-align: center;
	padding: 8px; /* Поля вокруг текста */
	display: block; /* Блочный элемент /////////////////////////////////////////////////////*/
	text-transform: uppercase; /* Все буквы заглавные */
	font-weight: bold; /* Жирное начертание */
	/* Вид курсора */
}

.tab-title::after {
	content: "+"; /* Выводим плюс */
	float: right; /* Размещаем по правому краю */
}

.tab-content {
	padding: 10px 10px; /* Поля вокруг текста */
}

.tab-content ul {
	list-style: decimal;
	padding: 0px 0px;
	margin: 0px 30px;
}

.tab-content ul li {
	padding: 10px 0px;
}

.tab-content ul a:link {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.tab-content ul a:visited {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.tab-content ul a:hover {
	color: rgb(0, 0, 0);
	text-decoration: underline;
}

.tab :checked + .tab-title {
	background-color: #8b8b8b; /* Цвет фона */
	border-radius: 8px 8px 0 0; /* Скругляем уголки */
	color: #fff; /* Цвет текста */
}

.tab :checked + .tab-title::after {
	content: "−"; /* Выводим минус */
}

.tab :checked ~ .tab-content {
	display: block; /* Показываем содержимое */
}

/*.links {
	float: left;
}*/
.main_page {
	/*float: inline-end;*/
	padding: 0px 20px 20px 20px;
	font: 1.2rem/1.2 Arial, sans-serif;
}
.main_page h3 {
	text-align: center;
}
.main_page img {
	width: 1200px;
	height: 600px;
}

.insert_images img {
	width: 60px;
	height: 60px;
}

.main_page textarea {
	position: static;
	float: left;
	width: 800px;
	height: max-content;
}
.materials textarea {
	position: static;
	float: left;
	width: 800px;
	height: 350px;
}

.main_page h4 {
	text-align: center;
}
.materials {
	/*float: inline-end;*/
	padding: 0px 20px 20px 20px;
	font: 1.2rem/1.2 Arial, sans-serif;
}
.materials h3 {
	text-align: center;
}

main {
	/*position: absolute;*/
	width: 69%;
	float: right;
	/*text-align: center;*/
	/*padding: 1000px, 0px, 0px, 0px;*/
}
aside {
	float: left;
	width: 31%;
	position: fixed;
	top: 20px;
}

footer {
	position: fixed;
	top: 700px;
	width: 100%;
	/*text-align: center;*/
}

.info {
	float: right;
	padding: 10px;
}

code {
	color: #173561;
}
