
.main
{
    left: 0;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 100%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    background-color: rgb(153, 143, 143); /* Black */
}

.header 
{
    height: 10%; /* Full-height: remove this if you want "auto" height */
    width: 100%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 0; /* Stay on top */
    left: 0%;
    top: 0%; /* Stay at the top */
    overflow: hidden;
    background-color: #eed1d1;
}
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  


  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 0; /* Stay on top */
    top: 10%; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #eed1d1;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #ffffff;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
