@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameShop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <header>
        <nav>
            <partial name="_LoginPartial.cshtml">
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <h3>Game Shop</h3>
        <div id="footer-copyright">
            <h5>&copy; @localizer["All rights reserved"] 2021</h5>
        </div>
        <partial name="_Culture" />
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
