@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>

<body>
    <h3>Available Drugs</h3>
    <table class="table-condensed" style="width:80%">
        <tr>
            <td>Title</td>
            <td>Description</td>
            <td>Manufacturer</td>
            <td>Price</td>
            <td></td>
        </tr>
            <tr>
                <td>drug.Title</td>
                <td>drug.Description</td>
                <td>drug.Manufacturer </td>
                <td>drug.Price</td>
                <td>href=~/Home/Buy/drug.ID">Buy></td>
            </tr>
    </table>
</body>
</html>